.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 60%;
  margin: 20px auto 0px;
}
.user-pic {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
