<div class="editor-cont">
  <mat-card-title>Editor Kategorija</mat-card-title>
  <form class="editor-cont" style="width: 100%; height: 100%">
    <mat-form-field appearance="outline" style="margin-bottom: 0px">
      <mat-label>Naziv kategorije</mat-label>
      <input matInput placeholder="Naziv" required [formControl]="name" />
    </mat-form-field>
    <button
      mat-raised-button
      [color]="this.edit ? 'primary' : 'accent'"
      (click)="handleSubmit()"
    >
      {{ this.edit ? "Izmeni" : "Kreiraj" }}
    </button>
    <div class="list-div">
      <div
        class="list-item-div"
        *ngFor="let category of this.categories"
        #div
        [id]="category.id"
      >
        <span class="text">{{ category.name }}</span>
        <div class="btns-div">
          <button mat-mini-fab color="primary" (click)="handleEdit(div.id)">
            <mat-icon>edit</mat-icon></button
          ><button
            mat-mini-fab
            color="accent"
            style="margin-left: 10px"
            (click)="handleDelete(div.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
