<mat-card class="cont-card mat-elevation-z4" matRipple (click)="gotoDetails()">
  <div class="img-div">
    <img
      [src]="
        this.ad && this.ad.gallery[0]
          ? imgPath + '/' + this.ad.gallery[0]
          : '../../../assets/common/noImage.png'
      "
      alt="nesto"
      class="img"
    />
  </div>
  <mat-card class="add-card">
    <div class="header-div">
      <div>
        <mat-card-title> {{ ad?.title }}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 5px" *ngIf="this.ad?.category">
          Kategorija:
          <strong>{{ ad?.category?.name }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle style="margin-bottom: 5px">
          Marka: <strong>{{ ad?.brand }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle style="margin-bottom: 5px">
          Kalibar: <strong>{{ ad?.caliber }}</strong></mat-card-subtitle
        >
      </div>
      <div class="price-div">
        <div>
          <button mat-raised-button color="primary">
            {{ ad?.price == 0 ? "Po dogovoru" : ad?.price + "€" }}
          </button>
        </div>
        <p>{{ this.rsdPrice + " Din." }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="desc-div">
      <p style="margin-top: 10px">
        {{ ad?.description }}
      </p>
    </mat-card-content>
  </mat-card>
</mat-card>
